<section class='scaffold'>
  <h2 class="breadcrumbs">
    <%= link_to "Properties", properties_path %>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    <%= link_to @property.property_name, @property %>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    Landlords
  </h2>

  <table class="scaffoldDataTable">
    <tbody>
      <%= render 'property_landlords_details', landlords: @existing_property_landlords%>
    </tbody>
  </table>

  <%= render "form", property_landlords: @property_landlord %>
</section>
