<section class='scaffold'>
  <h2 class="breadcrumbs">
    <%= link_to "Tenants", tenants_path %>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    <%= link_to "#{@tenant.first_name} #{@tenant.last_name}", @tenant %>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    Edit
  </h2>

    <%= render "form", tenant: @tenant %>
</section>

