<section id="mainfooter">
  &copy;
  <%= DateTime.now.strftime("%Y") %>
  <a href="https://www.topfloor.ie" target="_blank">Topfloor Systems</a> 
  <a href='#' id='doNotPressThisButton' class='destroyButton'>Do Not Press This Button</a>
</section>
